<%- include ('../../partials/header.ejs') %>
  <body>
    <%- include ('../../partials/navbar.ejs') %>
      <div class="container">
        <div class="card mt-5">
          <div class="card-header">
            <h2>Editar Usuário</h2>
          </div>
          <div class="card-body">
            <form action="/users/update" method="POST">
              <input type="email" class="form-control" name="email" placeholder="email@exemplo.com" value="<%= user.email %>"><br>
              <input type="password" name="password" class="form-control" placeholder="********"><br>
              <input type="hidden" name="id" value="<%= user.id %>">
              <button type="submit" class="btn btn-success btn-block">Editar</button>
            </form>
          </div>
        </div>
      </div>
  </body>
<%- include ('../../partials/footer.ejs') %>